#top{
    text-align: center;
}
#dialacarol{
    color: #207EA9;
    font-family: 'Amatic SC', cursive;
    font-size: 80px;
    margin: 0 auto;
}
#tradition{
    color: #9C9BAA;
    font-size: 20px;
    margin: 0 auto;
    margin-bottom: 5px;
}

@media (min-height: 945px){
    #map{
        height: 800px;
        width: 1050px;
        margin: 0 auto;
    }
    #container{
        position: relative;
    }
    #mariah-counter{
        bottom: 60px;
    }
    #song-counter{
        bottom: 120px;
    }
    .counter-box{
        position: absolute;
        display: block;
        font-size: 18px;
        color: #207EA9;
        text-align: center;
        width: 110px;
        background-color: rgba(230,230,230,0.4);
        z-index: 100;
        padding: 5px;
        border-radius: 10px;
        left: 50%;
        margin-left: -550px;
    }
    .counter{
        color: #9C9BAA;
    }
}