#top{
    text-align: center;
}
#dialacarol{
    color: #207EA9;
    font-family: 'Amatic SC', cursive;
    font-size: 80px;
    margin: 0 auto;
}
#tradition{
    color: #9C9BAA;
    font-size: 20px;
    margin: 0 auto;
    margin-bottom: 5px;
}
body{
    background-color: rgba(230, 230, 230, 0.5);
}

@media (min-height: 945px){
    #map{
        height: 800px;
        width: 90%;
        margin: 0 auto;
        border-radius: 20px;
    }
    #container{
        position: relative;
    }
    #mariah-counter{
        bottom: 70px;
    }
    #song-counter{
        bottom: 140px;
    }
    .counter-box{
        position: absolute;
        display: block;
        font-size: 24px;
        color: #207EA9;
        text-align: center;
        width: 140px;
        background-color: rgba(230,230,230,0.4);
        z-index: 100;
        padding: 5px;
        border-radius: 10px;
        left: 50%;
        margin-left: -700px;
    }
    .counter{
        color: #9C9BAA;
    }
}