#top{
    text-align: center;
}
#dialacarol{
    color: #207EA9;
    font-family: 'Amatic SC', cursive;
    font-size: 80px;
    margin: 0 auto;
}
#tradition{
    color: #9C9BAA;
    font-size: 20px;
}